@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Montserrat",sans-serif;
}

body{
  position: relative;
  width: 100%;
}
::-webkit-scrollbar{
  width: 0;
}
a{
  text-decoration: none;
}
li{
  list-style:none;
}
/* ================== FONT CLASS ================= */
.fw-500{
  font-weight: 500;
}
.fw-300{
  font-weight: 300;
}
.fw-400{
  font-weight: 400;
}
.large-font{
  font-size:2.7rem;
}

/* ================ KEYFRAMES ================= */
@keyframes animateDown{
  0%,20%,50%,80%,100%{
    transform: translateY(0);
  }
  40%{
    transform:  translateY(5px);
  }
  60%{
    transform: translateY(3px);
  }
}


/* ================ CSS CLASSES ======================= */
.menu_item{
  color:black;
  font-weight: 550;
  font-size:.9rem;
  padding:5px 12px;
  transition: .5s;
  border-radius:40px;
}
.menu_item:hover{
  background-color: rgba(138, 152, 199, 0.5);
}